@model PSU.Model.Areas.Administrator.Home.BulletinDetailViewModel
@{
    ViewData["Title"] = "公告详情";
    ViewData["NavTitle"] = "网站公告管理";
    ViewData["CurrName"] = "";
}

<section class="content-header">
    <h1>
        网站公告
        <small>Site Bulletin</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a asp-area="Administrator" asp-controller="Home" asp-action="Index">
                <i class="fa fa-dashboard"></i> 首页
            </a>
        </li>
        <li class="active">
            <a asp-area="Administrator" asp-controller="Home" asp-action="Bulletin">
                网站公告
            </a>
        </li>
        <li class="active">详情</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <section class="col-lg-7 connectedSortable">
            <div class="box box-solid">
                <div class="box box-header">
                    <h4 class="box-title">@Model.Title</h4>
                </div>
                <div class="box-body">
                    @Html.Raw(Model.Content) 
                </div>
                <div class="box-footer text-right">
                    <a class="btn btn-default" asp-area="Administrator" asp-controller="Home" asp-action="Bulletin">
                        <i class="ace-icon fa fa-undo"></i>
                        返回
                    </a>
                </div>
            </div>
        </section>
        <section class="col-lg-5 connectedSortable">
            <ul class="timeline">
                <li class="time-label">
                    <span class="bg-green">
                        @Model.CreatedOn.ToShortDateString()
                    </span>
                </li>
                <li>
                    <i class="fa fa-user bg-aqua"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i>&nbsp; @Model.CreatedOn.ToString("yyyy-MM-dd HH:mm")</span>
                        <h3 class="timeline-header"><a href="javascript:void(0)">创建用户：</a>@Model.OperateName</h3>
                        <div class="timeline-body">
                            完成新公告创建
                        </div>
                    </div>
                </li>

                @{
                    if (Model.OperateList != null && Model.OperateList.Any())
                    {
                        foreach (var item in Model.OperateList)
                        {
                            <li>
                                <i class="fa fa-adn"></i>
                                <div class="timeline-item">
                                    <span class="time"><i class="fa fa-clock-o"></i>&nbsp; @item.DateTime</span>
                                    <h3 class="timeline-header"><a href="javascript:void(0)">修改用户：</a>@item.Name</h3>
                                    <div class="timeline-body">
                                        @item.Operating
                                    </div>
                                </div>
                            </li>
                        }
                    }
                }
            </ul>
        </section>
    </div>
</section>
