@model PSU.Model.Areas.Student.BookingServiceViewModel
@{
    Layout = null;
    ViewData["Title"] = "服务预定";
    ViewData["NavTitle"] = "入学报名";
}

<div class="row">
    @if (Model != null)
    {
        if (string.IsNullOrEmpty(Model.Id))
        {
            <div class="col-md-12">
                <form class="form-horizontal" role="form" id="edit_form">
                    <div class="box box-success">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-3 control-label no-padding-right" for="book_tel">
                                    <span class="required-label">*</span> 联系电话
                                </label>
                                <div class="col-md-3 col-xs-9">
                                    <input class="form-control" id="book_tel" type="text" asp-for="Tel">
                                </div>
                                <label class="col-md-2 col-xs-3 control-label no-padding-right" for="book_count">
                                    <span class="required-label">*</span> 人数
                                </label>
                                <div class="col-md-2 col-xs-9">
                                    <input class="form-control" id="book_count" type="number" min="1" asp-for="Count">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-3 control-label no-padding-right" for="book_place">
                                    <span class="required-label">*</span> 需要服务地点
                                </label>
                                <div class="col-md-5 col-xs-9">
                                    <input class="form-control" id="book_place" type="text" maxlength="20" asp-for="Place">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label no-padding-right" for="book_departuretime">
                                    <span class="required-label">*</span> 需要服务时间
                                </label>
                                <div class="col-md-5 col-xs-9">
                                    <div class="input-group">
                                        <input class="form-control  date-picker" id="book_departuretime" type="text" asp-for="DepartureTime" readonly>
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label no-padding-right" for="book_remark">
                                    备注
                                </label>
                                <div class="col-md-8 col-xs-9">
                                    <textarea class="form-control" id="book_remark" max="200" rows="4" style="resize:none" asp-for="Remark"></textarea>
                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="text-right">
                                    <a class="btn btn-success col-md-offset-2" id="book_save" data-id="@Model.Id">
                                        <i class="fa fa-check"></i>
                                        保存
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <table class="profile-user-info profile-user-info-striped">
                    <tr class="profile-info-row">
                        <th class="profile-info-name">服务名称</th>
                        <td class="profile-info-value">@Model.ServiceName</td>
                        <th class="profile-info-name">预定人数</th>
                        <td class="profile-info-value">@Model.Count 人</td>
                    </tr>
                    <tr class="profile-info-row">
                        <th class="profile-info-name">预定时间</th>
                        <td class="profile-info-value">@Model.ScheduledTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <th class="profile-info-name">服务时间</th>
                        <td class="profile-info-value">@Model.DepartureTime</td>
                    </tr>
                    <tr class="profile-info-row">
                        <th class="profile-info-name">服务地点</th>
                        <td class="profile-info-value">@Model.Place</td>
                    </tr>
                    <tr class="profile-info-row">
                        <th class="profile-info-name">备注</th>
                        <td class="profile-info-value" colspan="3">@Model.Remark</td>
                    </tr>
                </table>
            </div>
        }
    }
</div>

<input type="hidden" id="serviceid" value="@Model.ServiceId" />

<script type="text/javascript">
    $(function () {
        //datetime
        $('.date-picker').datetimepicker({
            autoclose: true,
            todayHighlight: true,
            language: "zh-CN",
            weekStart: 1,
            format: 'yyyy-mm-dd hh:ii'
        });
    })
</script>

