@model PSU.Model.Areas.Administrator.School.MajorClassEditViewModel
@using PSU.Model.Areas
@{
    ViewData["Title"] = "专业班级";
    ViewData["NavTitle"] = "学校信息管理";
    ViewData["CurrName"] = "专业班级维护";
}

<section class="content-header">
    <h1>
        专业班级
        <small>Major Class</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a asp-area="Administrator" asp-controller="Home" asp-action="Index">
                <i class="fa fa-dashboard"></i> 首页
            </a>
        </li>
        <li>学校信息</li>
        <li class="active">
            <a asp-area="Administrator" asp-controller="School" asp-action="Major">
                专业班级
            </a>
        </li>
        <li class="active">编辑</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form method="post" class="form-horizontal" role="form" id="majorclass_form">
                <div class="box">
                    <div class="box box-body">
                        <div class="form-group">
                            <label class="col-md-2 col-xs-3 control-label no-padding-right" for="name">
                                <span class="required-label">*</span> 班级名称
                            </label>
                            <div class="col-md-4 col-xs-9">
                                <input class="col-md-5 col-xs-12 form-control" id="name" type="text" placeholder="" asp-for="Name" maxlength="20">
                            </div>
                            <label class="col-md-2 control-label no-padding-right" for="wechat"> 班级微信 </label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" id="wechat" class="form-control" asp-for="Wechat" maxlength="20" />
                                    <span class="input-group-addon">
                                        <i class="fa fa-weixin text-green"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label no-padding-right" for="qq"> 班级QQ </label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" id="qq" class="form-control" asp-for="QQ" maxlength="20" />
                                    <span class="input-group-addon">
                                        <i class="fa fa-qq fa-flip-horizontal text-light-blue"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-xs-3 control-label no-padding-right" for="major">
                                <span class="required-label">*</span> 所属专业
                            </label>
                            <div class="col-md-4 col-xs-9">
                                <div class="input-group">
                                    <input type="text" id="major" class="form-control" asp-for="MajorName" maxlength="50" />
                                    <span class="input-group-addon">
                                        <i class="fa fa-graduation-cap fa-flip-horizontal"></i>
                                    </span>
                                </div>
                            </div>
                            <label class="col-md-2 control-label no-padding-right" for="code">
                                <span class="required-label">*</span> 专业代码
                            </label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" id="code" class="form-control" asp-for="MajorCode" />
                                    <span class="input-group-addon">
                                        <i class="fa fa-code fa-flip-horizontal"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label no-padding-right" for="department">
                                <span class="required-label">*</span> 所属院系
                            </label>
                            <div class="col-md-4">
                                <select id="department" class="form-control" asp-for="DepartmentName">
                                    <option value="-1">请选择</option>
                                    @{
                                        if (Model != null && Model.DepartmentList != null && Model.DepartmentList.Any())
                                        {
                                            foreach (var item in Model.DepartmentList.AsReadOnly())
                                            {
                                                if (item.Name.Equals(Model.DepartmentName))
                                                {
                                                    <option value="@item.Id" selected="selected">@item.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <label class="col-md-2 control-label no-padding-right" for="deptnumber">
                                <span class="required-label">*</span> 院系编号
                            </label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" id="deptnumber" class="form-control" readonly asp-for="DepartmentId" />
                                    <span class="input-group-addon">
                                        <i class="fa fa-id-card-o fa-flip-horizontal"></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-xs-3 control-label no-padding-right" for="instructor">
                                <span class="required-label">*</span> 班级辅导员
                            </label>
                            <div class="col-md-4 col-xs-9">
                                <select id="instructor" class="form-control" asp-for="InstructorName">
                                    <option value="-1">请选择</option>
                                    @{
                                        if (Model != null && Model.StaffList != null && Model.StaffList.Any())
                                        {
                                            foreach (var item in Model.StaffList.AsReadOnly())
                                            {
                                                if (item.Name.Equals(Model.InstructorName))
                                                {
                                                    <option value="@item.Id" selected="selected">@item.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <label class="col-md-2 control-label no-padding-right" for="insnumber">
                                <span class="required-label">*</span> 辅导员工号
                            </label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" id="insnumber" class="form-control" readonly asp-for="InstructorId" />
                                    <span class="input-group-addon">
                                        <i class="fa fa-id-card fa-flip-horizontal"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-xs-3 control-label no-padding-right" for="session"> 班级级数 </label>
                            <div class="col-md-4 col-xs-9">
                                <select id="session" class="form-control" asp-for="SessionNum">
                                    @for (int i = DateTime.Now.Year - 2; i < DateTime.Now.AddYears(3).Year; i++)
                                    {
                                        if (i == DateTime.Now.Year)
                                        {
                                            <option value="@i" selected="selected">@i 级</option>
                                        }
                                        else
                                        {
                                            <option value="@i">@i 级</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label no-padding-right" for="enable"> 是否启用 </label>
                            <div class="col-md-4">
                                <select id="enable" asp-items="@Html.GetEnumSelectList(typeof(EnumType.Enable))" class="form-control" asp-for="IsEnabled"></select>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="text-right">
                            <button id="save" class="btn btn-success col-md-offset-2" data-id="@Model.Id">
                                <i class="ace-icon fa fa-check"></i>
                                保存
                            </button>
                            &nbsp; &nbsp;
                            <a class="btn btn-default" asp-area="Administrator" asp-controller="School" asp-action="MajorClass">
                                <i class="fa fa-undo"></i>
                                返回
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

@section scripts{
    <environment include="Development">
        <script src="~/javascript/view/Administrator/editmajorclass.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/javascript/view/Administrator/editmajorclass.min.js" asp-append-version="true"></script>
    </environment>
}
