@using Microsoft.AspNetCore.Identity
@using PSU.Entity.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - 稷下园</title>
    <environment include="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/template/dataTables.bootstrap.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/Ionicons/css/ionicons.css" rel="stylesheet" />
        <link href="~/css/template/AdminLTE.css" rel="stylesheet" />
        <link href="~/css/template/skins/skin-green.css" rel="stylesheet" />
        <link href="~/css/template/bootstrap-datepicker.css" rel="stylesheet" />
        <link href="~/css/view/layout.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute">
        <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
              asp-fallback-href="~/lib/font-awesome/css/font-awesome.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute">
        <link href="http://cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"
              asp-fallback-href="~/lib/Ionicons/css/ionicons.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link href="~/css/view/layout.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>

    @RenderSection("styles", false)

</head>
<body class="sidebar-mini skin-green fixed" style="height: auto; min-height: 100%;">
    <div class="wrapper" style="height: auto; min-height: 100%;">
        <!-- 头部 -->
        <header class="main-header">
            <a asp-area="Administrator" asp-controller="Home" asp-action="Index" class="logo">
                <span class="logo-mini">
                    <b>稷下</b>
                </span>
                <span class="logo-lg">
                    <i class="fa fa-leaf"></i>
                    <b style="font-family:KaiTi">
                        稷下园
                        <sub style="font-family:Consolas">JiXia</sub>
                    </b>
                </span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">切换菜单</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/images/template/user2-160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">@UserManager.GetUserName(User)        这是我的名字啊</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="control-sidebar">
                                <i class="fa fa-sign-out"></i>
                                <span>退出</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- 左侧菜单栏 -->
        <aside class="main-sidebar">
            <section class="sidebar" style="height:auto;">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/images/template/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>你好，管理员</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> 超级管理员</a>
                    </div>
                </div>
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">菜单 Menu</li>
                    <li class="@(ViewData["NavTitle"].ToString() == "数据全局概览"?"active":"")">
                        <a asp-area="Administrator" asp-controller="Home" asp-action="Index">
                            <i class="fa fa-dashboard"></i> <span> 数据全局概览 </span>
                        </a>
                    </li>
                    <li class="@(ViewData["NavTitle"].ToString() == "网站公告管理"?"active":"")">
                        <a asp-area="Administrator" asp-controller="Home" asp-action="Bulletin">
                            <i class="fa fa-bullhorn"></i> <span> 网站公告管理 </span>
                        </a>
                    </li>
                    <li class="@(ViewData["NavTitle"].ToString() == "学校信息管理"?"treeview menu-open":"treeview")">
                        <a href="javascript:void(0)">
                            <i class="fa fa-graduation-cap"></i> <span> 学校信息管理 </span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu" style="@(ViewData["NavTitle"].ToString() == "学校信息管理"?"display: block;":"")">
                            <li class="@(ViewData["CurrName"].ToString() == "基础信息维护"?"active":"")">
                                <a asp-area="Administrator" asp-controller="School" asp-action="Information">
                                    <i class="fa fa-list-ul"></i><span> 基础信息维护 </span>
                                </a>
                            </li>
                            <li class="@(ViewData["CurrName"].ToString() == "院系信息维护"?"active":"")">
                                <a asp-area="Administrator" asp-controller="School" asp-action="Department">
                                    <i class="fa fa-list-ul"></i><span> 院系信息维护 </span>
                                </a>
                            </li>
                            <li class="@(ViewData["CurrName"].ToString() == "专业信息维护"?"active":"")">
                                <a asp-area="Administrator" asp-controller="School" asp-action="Major">
                                    <i class="fa fa-list-ul"></i><span> 专业信息维护 </span>
                                </a>
                            </li>
                            <li class="@(ViewData["CurrName"].ToString() == "专业班级维护"?"active":"")">
                                <a asp-area="Administrator" asp-controller="School" asp-action="MajorClass">
                                    <i class="fa fa-list-ul"></i><span> 专业班级维护 </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="@(ViewData["NavTitle"].ToString() == "宿舍信息管理"?"treeview menu-open":"treeview")">
                        <a href="javascript:void(0)">
                            <i class="fa fa-home"></i>
                            <span>宿舍信息管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu" style="@(ViewData["NavTitle"].ToString() == "宿舍信息管理"?"display: block;":"")">
                            <li class="@(ViewData["CurrName"].ToString() == "宿舍楼信息维护"?"active":"")">
                                <a asp-area="Administrator" asp-controller="Dormitory" asp-action="Building">
                                    <i class="fa fa-list-ul"></i><span> 宿舍楼信息维护 </span>
                                </a>
                            </li>
                            <li class="@(ViewData["CurrName"].ToString() == "寝室信息维护"?"active":"")">
                                <a asp-area="Administrator" asp-controller="Dormitory" asp-action="Information">
                                    <i class="fa fa-list-ul"></i><span> 寝室信息维护 </span>
                                </a>
                            </li>
                            <li class="@(ViewData["CurrName"].ToString() == "床铺信息维护"?"active":"")">
                                <a asp-area="Administrator" asp-controller="Dormitory" asp-action="Bunk">
                                    <i class="fa fa-list-ul"></i><span> 床铺信息维护 </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="@(ViewData["NavTitle"].ToString() == "入学信息管理"?"treeview menu-open":"treeview")">
                        <a href="javascript:void(0)">
                            <i class="fa fa-train"></i> <span>入学信息管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu" style="@(ViewData["NavTitle"].ToString() == "入学信息管理"?"display: block;":"")">
                            <li class="@(ViewData["CurrName"].ToString() == "迎新服务维护"?"active":"")">
                                <a asp-area="Administrator" asp-controller="Admission" asp-action="Service">
                                    <i class="fa fa-list-ul"></i><span> 迎新服务维护 </span>
                                </a>
                            </li>
                            <li class="@(ViewData["CurrName"].ToString() == "卧具信息维护"?"active":"")">
                                <a asp-area="Administrator" asp-controller="Admission" asp-action="Bedding">
                                    <i class="fa fa-list-ul"></i><span> 卧具信息维护 </span>
                                </a>
                            </li>
                            <li class="@(ViewData["CurrName"].ToString() == "制服信息维护"?"active":"")">
                                <a asp-area="Administrator" asp-controller="Admission" asp-action="Suit">
                                    <i class="fa fa-list-ul"></i><span> 制服信息维护 </span>
                                </a>
                            </li>
                            <li class="@(ViewData["CurrName"].ToString() == "金额信息维护"?"active":"")">
                                <a asp-area="Administrator" asp-controller="Admission" asp-action="Tuition">
                                    <i class="fa fa-list-ul"></i><span> 金额信息维护 </span>
                                </a>
                            </li>
                            <li class="@(ViewData["CurrName"].ToString() == "学生疑问管理"?"active":"")">
                                <a asp-area="Administrator" asp-controller="Admission" asp-action="Question">
                                    <i class="fa fa-list-ul"></i><span> 学生疑问管理 </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="@(ViewData["NavTitle"].ToString() == "数据统计分析"?"treeview menu-open":"treeview")">
                        <a href="javascript:void(0)">
                            <i class="fa fa-bar-chart-o"></i>
                            <span>数据统计分析</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu" style="@(ViewData["NavTitle"].ToString() == "数据统计分析"?"display: block;":"")">
                            <li class="@(ViewData["CurrName"].ToString() == "新生数据分析"?"active":"")">
                                <a asp-area="Administrator" asp-controller="Statistics" asp-action="Student">
                                    <i class="fa fa-list-ul"></i><span> 新生数据分析 </span>
                                </a>
                            </li>
                            <li class="@(ViewData["CurrName"].ToString() == "宿舍数据统计"?"active":"")">
                                <a asp-area="Administrator" asp-controller="Statistics" asp-action="Dormitory">
                                    <i class="fa fa-list-ul"></i><span> 宿舍数据统计 </span>
                                </a>
                            </li>
                            <li class="@(ViewData["CurrName"].ToString() == "用户登录统计"?"active":"")">
                                <a asp-area="Administrator" asp-controller="Statistics" asp-action="Login">
                                    <i class="fa fa-list-ul"></i><span> 用户登录统计 </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="@(ViewData["NavTitle"].ToString() == "基础信息管理"?"treeview menu-open":"treeview")">
                        <a href="javascript:void(0)">
                            <i class="fa fa fa-cogs"></i>
                            <span>基础信息管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu" style="@(ViewData["NavTitle"].ToString() == "基础信息管理"?"display: block;":"")">
                            <li class="@(ViewData["CurrName"].ToString() == "个人账户信息"?"active":"")">
                                <a asp-area="Administrator" asp-controller="Basic" asp-action="Profile">
                                    <i class="fa fa-list-ul"></i><span> 个人账户信息 </span>
                                </a>
                            </li>
                            <li class="@(ViewData["CurrName"].ToString() == "教师账户管理"?"active":"")">
                                <a asp-area="Administrator" asp-controller="Basic" asp-action="Staff">
                                    <i class="fa fa-list-ul"></i><span> 教师账户管理 </span>
                                </a>
                            </li>
                            <li class="@(ViewData["CurrName"].ToString() == "学生账户管理"?"active":"")">
                                <a asp-area="Administrator" asp-controller="Basic" asp-action="Student">
                                    <i class="fa fa-list-ul"></i><span> 学生账户管理 </span>
                                </a>
                            </li>
                            <li class="@(ViewData["CurrName"].ToString() == "地区数据维护"?"active":"")">
                                <a asp-area="Administrator" asp-controller="Basic" asp-action="Region">
                                    <i class="fa fa-list-ul"></i><span> 地区数据维护 </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>

        <!-- 页面主体内容 -->
        <div class="content-wrapper">
            @RenderBody()
        </div>

        <!-- 尾部版权 -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                Powered By <span class="text-blue">Danvic712</span>
                <a href="https://github.com/Lanesra712/Danvic.PSU" target="_blank">
                    <i class="fa fa-github text-black"></i>
                </a>
                <a href="https://weibo.com/Lanesra712" target="_blank">
                    <i class="fa fa-weibo text-danger"></i>
                </a>
            </div>
            <p>
                Copyright  &copy; 2017 - @DateTime.Now.Year <a href="javascript:void(0)"> 稷下园 </a> 版权所有
            </p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/javascript/template/jquery.dataTables.js"></script>
        <script src="~/javascript/template/dataTables.bootstrap.js"></script>
        <script src="~/javascript/template/bootstrap-datepicker.js"></script>
        <script src="~/javascript/template/bootstrap-datepicker.zh-CN.min.js"></script>
        <script src="~/javascript/template/jquery.slimscroll.js"></script>
        <script src="~/javascript/template/adminlte.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js">
        </script>
        <script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js">
        </script>
        <script src="~/javascript/view/layout.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", false)

</body>
</html>

