@model PSU.Model.Areas.Student.IndexViewModel
@{
    ViewData["Title"] = "首页";
    ViewData["NavTitle"] = "我的大学";
}

@section styles{
    <environment include="Development">
        <link href="~/css/template/simditor.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/template/simditor.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
}

<section class="content">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="col-md-7 col-xs-12">
                <div class="col-md-6 col-xs-6">
                    <div class="small-box bg-white">
                        <div class="inner">
                            <h3>@Model.Count</h3>
                            <p>和我来自同一个地方</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-map text-teal"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="small-box bg-white">
                        <div class="inner">
                            <h3>@Model.Question</h3>
                            <p>我的提问个数</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-android-notifications-none text-green"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="small-box bg-white">
                        <div class="inner">
                            <h3>@Model.Todo</h3>
                            <p>未完成的报名事项</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-android-checkbox-outline text-purple"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="small-box bg-white">
                        <div class="inner">
                            <h3>@Model.ClassCount</h3>
                            <p>班级总人数</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-people-outline text-yellow"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                <i class="ion ion-compose"></i>
                                我要提问
                            </h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-md-12">
                                    <textarea class="col-md-6" rows="3" id="editor" maxlength="500"></textarea>
                                </div>
                                <div class="text-right">
                                    <a class="btn btn-success" id="save" style="margin-right:14px;">
                                        <i class="fa fa-check"></i>
                                        保存
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-xs-12">
                <div class="card">
                    @if (Model.MyClass != null)
                    {
                        <div class="header">
                            <h2>
                                <i class="ion ion-university"></i>
                                @Model.MyClass.Name - @Model.MyClass.Session
                            </h2>
                        </div>
                        <div class="body">
                            <dl class="dl-horizontal">
                                <dt style="width:80px;">班级辅导员</dt>
                                <dd style="margin-left:100px;">@Model.MyClass.InstructorName - @Model.MyClass.InstructorPhone</dd>
                                <dd style="margin:0px 0px 10px 100px;">
                                    <i class="fa fa-wechat text-green"></i> @Model.MyClass.InstructorWechat
                                    &nbsp;&nbsp;
                                    <i class="fa fa-qq text-blue"></i> @Model.MyClass.InstructorQQ
                                </dd>
                                <dt style="width:80px;">班级信息</dt>
                                <dd style="margin-left:100px;">@Model.MyClass.Department - @Model.MyClass.Major</dd>
                                <dd style="margin:0px 0px 0px 100px;">
                                    <i class="fa fa-wechat text-green"></i> @Model.MyClass.Wechat
                                    &nbsp;&nbsp;
                                    <i class="fa fa-qq text-blue"></i> @Model.MyClass.QQ
                                </dd>
                            </dl>
                        </div>
                    }
                </div>
                <div class="card">
                    <div class="header">
                        <h2>
                            <i class="ion ion-clipboard"></i>
                            公告&政策
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                    <i class="ion ion-navicon-round"></i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a asp-area="Student" asp-controller="Home" asp-action="Bulletin" class=" waves-effect waves-block">更多</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    @if (Model.BulletinInfo != null)
                                    {
                                        <div class="panel panel-success">
                                            <div class="panel-heading" role="tab" id="headingOne_2">
                                                <h4 class="panel-title">
                                                    <a data-id="@Model.BulletinInfo.Id" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_2" aria-expanded="true" aria-controls="collapseOne_2">
                                                        @Model.BulletinInfo.Title
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne_2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_2">
                                                <div class="panel-body">
                                                    @Html.Raw(Model.BulletinInfo.Content)
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <environment include="Development">
        <script src="~/javascript/template/module.js"></script>
        <script src="~/javascript/template/hotkeys.js"></script>
        <script src="~/javascript/template/uploader.js"></script>
        <script src="~/javascript/template/simditor.js"></script>
        <script src="~/javascript/view/Student/home.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/javascript/view/Student/home.min.js" asp-append-version="true"></script>
    </environment>
}